* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body {
  background-color: rgb(68, 103, 196);
  color: #333;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 15px 0;
}

.container {
  max-width: 500px;
  background-color: white;
  margin: 40px auto;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

input, select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: rgb(31, 30, 41);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
