* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body {
  background-color: rgb(68, 103, 196);
}

.voltar {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 20px 0;
}

.container {
  background-color: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* FORMULÁRIO */
.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 16px;
}

.formulario input,
.formulario select,
.formulario textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.formulario textarea {
  resize: none;
  height: 80px;
}

/* BOTÃO */
.formulario button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: rgb(31, 30, 41);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* MENSAGEM */
.sucesso {
  margin-top: 15px;
  text-align: center;
  color: green;
}
