* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body, html {
  height: 100vh;
  width: 100vw;
  background-color:  #59d8db;
}

.cadastro-bloco {
    width: 30%;
    height: 70%;
    background-color: #bbf2f4;
    margin-left: 35%;
    margin-top: 10%;
    padding: 9%;
    border: solid 15px #bbf2f4;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    color: #59d8db;
}

.retorno {
    margin-top: 2%;
    margin-left: 1%;
    width: 90%;
    height: 16%;
    background-color: #59d8db;
    text-align: center;
    border: solid 15px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);

}

.retorno a{
    color: white;
}

