* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body, html {
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BLOCO DE CADASTRO */
.cadastro-bloco {
  width: 90%;
  max-width: 450px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: rgb(31, 30, 41);
}

/* TÍTULO */
.cadastro-bloco h2 {
  margin-bottom: 25px;
}

/* TEXTOS DO FORM */
.cadastro-bloco form p {
  text-align: left;
  margin-bottom: 5px;
}

/* INPUTS */
.cadastro-bloco input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/* SELECT */
.cadastro-bloco select {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/* BOTÃO */
.cadastro-bloco button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background-color: rgb(31, 30, 41);
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.cadastro-bloco a {
  color: rgb(31, 30, 41);
  text-decoration: none;
}

.retorno {
  width: 100%;
  padding: 10px;
  background-color: rgb(31, 30, 41);
  border-radius: 20px;
  margin-bottom: 20px;
}

.retorno a {
  color: white;
  text-decoration: none;
}
