* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body {
  background-color: #59d8db;
  padding: 30px;
  color: #333;
}

h1 {
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

.perfil {
  background-color: #bbf2f4;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
}

.foto {
  text-align: center;
  margin-bottom: 20px;
}

.foto img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.dados p {
  margin-bottom: 10px;
}

.area {
  background-color: #bbf2f4;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
}
