* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body {
  background-color: rgb(68, 103, 196);
  padding: 30px;
  color: white;
}

h1 {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.lista-itens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 20px;
  width: 260px;
}

.item p {
  margin-bottom: 6px;
}

.item button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 15px;
  background-color: rgb(31, 30, 41);
  color: white;
  cursor: pointer;
}
