* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, html {
  height: 100vh;
  width: 100vw;
}

.cabecalho {
    height: 6vh;
    width: 100vw;
    display: flex;
    background-color: rgb(31, 30, 41);
    align-items: center;
    padding: 0 20%;
    gap: 20px;
}

.cabecalho img {
    height: 50%;
}

.cabecalho input {

    width: 170%;
    padding: 10px 25px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 30px;
    outline: none;
}


.primeira_exibicao{
    width: 15vw;
    height: 13vh;
    border: 2px solid #ccc;
    border-radius: 30px;
}

.primeira_exibicao img {
    width: 10px;
    height: 10px;
}