<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newuse</title>
    <link rel="stylesheet" href="../static/css/paginainicial.css">
    <link rel="stylesheet" href="../static/css/cadastraritem.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

</head>
<body>

    <div class="cabecalho">
        <img src="../static/imagens/NEWUSE1.png">

        <form class="pesquisaform" action="/pesquisar" method="post">
            <input type="text" class="pesquisa" placeholder="Procurar produto...">
        </form>

        <img class="perfil_imagem" src="../static/imagens/perfil.png">
        <a href="" class="minha_conta">Minha Conta</a>
    </div>

    <a href="/"> < Página inicial</a>
    <br>
    <br>
    <div class="container-blocos">
    <div class="inicio">
    <h1 style="text-align: center; margin-bottom: 10px;" >Escolha que tipo de item deseja cadastrar: </h1>
    </div>

    <div class="corpo">

        <div class="item-bloco" style="">
            <h2>Roupa</h2>
            <form method="post" action="/cadastrarroupa">
                <img src="../static/imagens/roupaitem.png">
                <button type="submit">Cadastrar roupa</button>
            </form>

        </div>
        <div class="item-bloco" style="">
            <h2>Sapato</h2>
            <form method="post" action="/cadastrarcalcado">
                <img src="../static/imagens/tenisitem.png">
                <button formaction="/cadastrarcalcado" type="submit">Cadastrar calçado</button>
            </form>

        </div>

        <div class="item-bloco" style="">
            <h2>Meus itens</h2>
            <form method="post" action="/meusitens">
                <img src="../static/imagens/caixa.png">
                <button formaction="/meusitens" type="submit">Ver lista</button>
            </form>
         </div>

    </div>
</div>

</body>
</html>