<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meus Itens</title>
    <link rel="stylesheet" href="../static/css/meusitens.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

</head>
<body>

    <div class="cabecalho">

        <a href="https://www.google.com" target="_blank">
            <img src="../static/imagens/MENULATERAL.png" style="margin-left: 1%;">
        </a>
        <img src="../static/imagens/NEWUSE1.png" style="margin-left: 10%;">

        <form class="pesquisaform" action="/pesquisar" method="post">
            <input type="text" id="pesquisa" placeholder="Procurar produto...">
        </form>

    </div>
    <a href="/cadastraritem"> < Cadastrar Item</a>



    <div class="container-blocos">
    {% for item in lista %}
        <div class="itemmeu">
            
            <img src="../static/imagens/ropa.png">
            <div class="texto">
                <p>{{item[0]}}</p>
                <a>ID: {{item[7]}}</a>
                <a>Preço: R${{item[3]}},00</a>
                <a href="/detalhes?nome={{item[0]}}&vendedor={{item[5]}}">Mais detalhes do item</a>
                <form action="/remover" method="POST">
                    <input type="hidden" name="id" value="{{item[7]}}">
                    <button type="submit">Remover</button>
                </form>


            </div>


        </div>
    {% endfor %}
    </div>

</body>
</html>