<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newuse</title>
    <link rel="stylesheet" href="../static/css/paginainicial.css">
</head>
<body>
    <div class="cabecalho">

        <a href="https://www.google.com" target="_blank">
            <img src="../static/imagens/MENULATERAL.png" style="margin-left: 1%;">
        </a>
        <img src="../static/imagens/NEWUSE1.png" style="margin-left: 10%;">

        <form class="pesquisaform" action="/pesquisar" method="post">
            <input type="text" id="pesquisa" placeholder="Procurar produto...">
        </form>



    </div>

    <div style="margin-left: 5px;">
        <br>
        <a href="/login">Login</a>
        <br>
        <a href="/cadastro">Cadastre-se</a>
        <br>
        <a href="/cadastraritem">Cadastre um item.</a>
    </div>
</body>
</html>