<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newuse</title>
    <link rel="stylesheet" href="../static/css/paginainicial.css">
</head>
<body>
    <div class="cabecalho">
        <img src="../static/imagens/NEWUSE1.png">

        <form class="pesquisaform" action="/pesquisar" method="post">
            <input type="text" class="pesquisa" placeholder="Procurar produto...">
        </form>

        <img class="perfil_imagem" src="../static/imagens/perfil.png">
    </div>

    <div class="primeira_exibicao">
        <div class="item_maior">
            <img src="../static/imagens/ropa.png">
            <p>Camiseta</p>
            <a>22.99</a>
        </div>

    </div>

    <div style="margin-left: 5px;">
        <br>
        <a href="/login">Login</a>
        <br>
        <a href="/cadastro">Cadastre-se</a>
        <br>
        <a href="/cadastraritem">Cadastre um item.</a>
    </div>
</body>
</html>