<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newuse</title>
    <link rel="stylesheet" href="../static/css/paginainicial.css">
</head>
<body>
    <div class="cabecalho">
        <img src="../static/imagens/NEWUSE1.png">

        <form class="pesquisaform" action="/pesquisar" method="post">
            <input type="text" class="pesquisa" placeholder="Procurar produto...">
        </form>

        <img class="perfil_imagem" src="../static/imagens/perfil.png">
        <a href="/cadastraritem" class="minha_conta">Minha Conta</a>
    </div>
    
    <div class="banner">
        <img src="static/imagens/descontos.png">
    </div>

    <div class="primeira_exibicao">
        <div class="item_maior">
            <img src="../static/imagens/camisa_beabadoobee.jpg">

            <div class="descricao_item_um">
                <p>Camiseta BEABADOOBEE Unissex</p>
                <a>R$22,99</a>

                <div class="botao_compra">
                    <br>
                    <a href="/templates/emconstrucao.html">COMPRAR AGORA</a>
                </div>
            </div>
        </div>
        <div class="itens_menores">
            <div class="item_org">
                <img src="../static/imagens/camisa_cori.jpeg">
                <div class="descricao_item_menor">

                    <p>Uniforme Corinthians</p>
                    <br>
                    <a>R$56,99</a>

                    <div class="botao_compra_menor">
                        <br>
                        <a href="">COMPRAR AGORA</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="item_org">
                <img src="../static/imagens/sapato.jpg">
                <div class="descricao_item_menor">

                    <p>Sapato Social Preto</p>
                    <br>
                    <a>R$93,99</a>

                    <div class="botao_compra_menor">
                        <br>
                        <a href="">COMPRAR AGORA</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="margin-left: 5px;">
        <br>
        <a href="/login">Login</a>
        <br>
        <a href="/cadastro">Cadastre-se</a>
        <br>
        <a href="/cadastraritem">Cadastre um item.</a>
    </div>
</body>
</html>