<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEWUSE</title>
    <link rel="stylesheet" href="../static/css/paginainicial.css">

</head>
<body>

    <div class="cabecalho">
        <img src="../static/imagens/NEWUSE1.png">

        <form class="pesquisaform" action="/pesquisar" method="post">
            <input type="text" class="pesquisa" placeholder="Procurar produto...">
        </form>

        <img class="perfil_imagem" src="../static/imagens/perfil.png">
        <a href="" class="minha_conta">Minha Conta</a>
    </div>

    <h1>Resultados:</h1>
        {% for item in lista %}
            <p>{{item[0]}}</p>
        {% endfor %}



</body>
</html>